<table class="prevent-select" [class.lefty]="display.lefty">
    @for (string of currFretboard.fretboard.intervals; track string; let i = $index) {
    <tr>
        <td class="string-note">{{currFretboard.notes[i].print()}}</td>
        @for (_ of frets; track _; let j = $index; let first = $first) {
        <td [ngClass]="first ? 'nut' : 'fret'" (click)="onFretClick(i, j)"
            [class.enable-hover]="!currFretboard.isRoot(i, j) && router.url.includes('edit/scale') && [0, 1].includes(custom.currentStep)">
            <div class="scale-note-wrapper">
                <div class="note-container">
                    <app-fret-note [note]="currFretboard.getNoteFromFret(i, j)" [root]="currFretboard.isRoot(i, j)" />
                </div>
            </div>
        </td>
        }
        <hr class="string">
    </tr>
    }
</table>