<table class="prevent-select" [class.lefty]="display.lefty">
    @for (string of currFretboard.fretboard.intervals; track i; let i = $index) {
    <tr>
        <td class="string-note" (click)="onStringNoteClick(string, i)"
            [class.enable-hover]="custom.mode === 'fretboard' && custom.currentStep && [1, 2].includes(custom.currentStep)">
            <div class="scale-note-wrapper">
                <div class="note-container" #stringNoteContainer
                    [class.marked]="custom.mode === 'fretboard' && custom.currentStep && [1, 2].includes(custom.currentStep) && string === 0"
                    [class.marked-selection]="i === custom.currentStringSelection">
                    {{currFretboard.notes[i].print()}}
                </div>
            </div>
        </td>
        @for (_ of frets; track j; let j = $index; let first = $first) {
        <td [ngClass]="first ? 'nut' : 'fret'" (click)="onFretClick(i, j)" [class.enable-hover]="custom.mode === 'scale' && (
            (custom.currentStep === 0 && !currFretboard.isRoot(i, j)) ||
            (custom.currentStep === 1 && currFretboard.getNoteFromFret(i, j)))">
            <div class="scale-note-wrapper">
                <div class="note-container"
                    [class.marked]="custom.mode === 'scale' && custom.currentStep && [1, 2].includes(custom.currentStep) && currFretboard.isModeRoot(i, j)">
                    <app-fret-note [note]="currFretboard.getNoteFromFret(i, j)" [root]="currFretboard.isRoot(i, j)" />
                </div>
            </div>
        </td>
        }
        <hr class="string">
    </tr>
    }
    <tr class="edge">
        <td class="string-note"></td>
        @for (_ of frets; track i; let i = $index) { 
         <td>
            <div class="dot-container">
                <span class="dot" *ngIf="[3, 5, 7, 9].includes(i)"></span>
                <span class="dot" *ngIf="7 === i"></span>
            </div>
         </td>   
        }
    </tr>
</table>
<app-edit-fretboard-overlay *ngIf="custom.mode === 'fretboard' && custom.currentStep !== undefined && custom.currentStep <= 3" [selectedStringNote]="selectedStringNote" />