@import "../../styles.scss";

$fret-border: 4px solid #b8b8b8;
$color-nut: rgb(241, 238, 220);

:host {
  position: relative;
  width: 100%;
  background: url(../../assets/img/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;

  tr {
    position: relative;

    .string-note {
      background: $color-almost-black;
      color: white;
      text-align: center;
      width: $fretboard-string-margin;
    }

    .nut {
      background: $color-nut;
      width: 5vw;
    }

    .fret {
      border-right: $fret-border;
    }

    .scale-note-wrapper {
      @include flex();
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 2;

      .note-container {
        width: 46px;
        height: 46px;
        border: 3px solid #0000;
        border-radius: 50%;
        transition: 225ms ease;
        @include flex();

        @media screen and (max-height: $vh-breakpoint-3) {
          width: 38px;
          height: 38px;
        }

        &.marked {
          border-color: $color-info-bright;
        }

        &.marked-selection {
          border-color: $color-warning;
        }
      }
    }

    td.enable-hover:hover {
      cursor: pointer;

      .scale-note-wrapper {

        .note-container,
        .note-container.marked {
          border-color: $color-warning;
          transition: 125ms ease;
        }
      }
    }

    .string {
      position: absolute;
      height: 6px;
      background-image: linear-gradient(#eee 30%, #bbb 80%);
      border: 0;
      left: $fretboard-string-margin;
      right: 0;
      top: calc(50% - 10px);
      box-shadow: 0 4px 3px 2px rgba(0, 0, 0, 0.2);
      pointer-events: none;
      z-index: 1;
    }
  }
}

.lefty {
  direction: rtl;

  tr {
    td {
      direction: ltr;
    }

    .fret {
      border-right: unset;
      border-left: $fret-border;
    }

    .string {
      left: 0;
      right: $fretboard-string-margin;
    }
  }
}

.edge {
  position: relative;
  z-index: 0;

  td {
    height: 10px;

    &:nth-child(2) {
      background: $color-nut;
    }

    &:not(:first-child),
    &:not(:nth-child(2)) {
      .dot-container {
        width: 100%;
        height: 100%;
        @include flex($g: 30%);

        .dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: $color-panel-bg;
        }
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #0001;
    z-index: 1;
    pointer-events: none;
  }
}

.export-styling {
  background: $color-wood-bg;
}