@import "../../styles.scss";

$fret-border: 4px solid #b8b8b8;
$select: #ff0b;

:host {
  position: relative;
  width: 100%;
  height: var(--fretboard-height);
  background: url(../../assets/img/wood.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  @media screen and (max-height: $vh-breakpoint-1) {
    height: 100%;
  }
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  tr {
    position: relative;
    .string-note {
      background: black;
      color: white;
      text-align: center;
      width: $fretboard-string-margin;
    }
    .nut {
      background: rgb(241, 238, 220);
      width: 5vw;
    }
    .fret {
      border-right: $fret-border;
    }
    
    .scale-note-wrapper {
      @include flex();
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 2;
      .note-container {
        width: 46px;
        height: 46px;
        border: 3px solid #0000;
        border-radius: 50%;
        transition: 225ms ease;
        @include flex();
        @media screen and (max-height: $vh-breaktpoint-3) {
          width: 38px;
          height: 38px;
        }
        &.marked {
          border-color: $color-info-bright;
        }
        &.marked-selection {
          border-color: $color-warning;
        }
      }
    }
    td.enable-hover:hover {
      cursor: pointer;
      .scale-note-wrapper {
        .note-container,
        .note-container.marked {
          border-color: $color-warning;
          transition: 125ms ease;
        }
      }
    }
    .string {
      position: absolute;
      height: 6px;
      background-image: linear-gradient(#eee 30%, #bbb 80%);
      border: 0;
      left: $fretboard-string-margin;
      right: 0;
      top: calc(50% - 10px);
      box-shadow: 0 4px 3px 2px rgba(0, 0, 0, 0.2);
      pointer-events: none;
      z-index: 1;
    }
  }
}

.lefty {
  direction: rtl;
  tr {
    td {
      direction: ltr;
    }
    .fret {
      border-right: unset;
      border-left: $fret-border;
    }
    .string {
      left: 0;
      right: $fretboard-string-margin;
    }
  }
}
