@import "../../styles.scss";

$gap: 10px;

:host {
    @include flex($g: $gap);
    @media screen and (max-height: $vh-breakpoint-1) and (max-width: $vw-breakpoint-1) {
        @include flex($dir: column, $ai: flex-end);
        @media screen and (max-height: $vh-breakpoint-2) {
            &.top-right {
                flex-direction: row;
                gap: $gap;
            }
        }
    }
}
