@import '../../../styles.scss';

:host {
    width: 100%;
    @include flex($g: 16px);
}

i.material-icons-outlined {
    margin-left: 12px;
    color: $color-info;
}

.warning {
    color: $color-warning !important;
}