@if(category && category.name) {
<p>The scale you configured is enharmonic to the</p>
@if(category.modes && modeIndex > 0) {
<p class="highlight"><b>{{category.modes[modeIndex].name}} mode</b></p>
<p>of the</p>
}
<p class="highlight"><b>{{category.name}} scale</b>.</p>
<p>How do you want to proceed?</p>
<div class="btns-container">
    <button class="border-btn" (click)="abortWithMatchingScale()">Abort customization and navigate to {{category.name}}
        scale.</button>
    <button class="border-btn" (click)="continueWithMatchingScaleModes()">Continue by loading modes of the
        {{category.name}} scale.</button>
    <button class="border-btn" (click)="dialog.close()">Just let me continue.</button>
</div>
}