@import '../../../styles.scss';

:host {
    width: 100%;
    flex: 1;
    @include flex($jc: flex-start, $ai: flex-start, $dir: column);
    .content-wrapper {
        width: 100%;
        flex: 1;
        @include flex($dir: column);
        .empty-msg {
            color: $color-text-secondary;
        }
        .content-main {
            width: 100%;
            flex: 1;
            @include flex($dir: column, $jc: flex-start);
            app-ordering-bar {
                width: 100%;
                margin-bottom: 10px;
            }
            app-open-item {
                width: 100%;
            }
        }
    }
}