<h2>Open {{ type }}</h2>
<div class="content-wrapper">
  @if(data) {
    @if (data.length === 0) {
      <p>You have not created any {{ type }}s yet.</p>
    } @else {
      <div class="content-main">
        <app-ordering-bar [(ordering)]="ordering" />
        @for (itemSave of data; track itemSave.timestamp; let i = $index) {
          <app-open-item
            [name]="itemSave.data.name"
            [timestamp]="itemSave.timestamp"
            (open)="open(itemSave.data)"
            (delete)="deleteSave(itemSave)"
            (nameChange)="updateName(i, $event)" />
        }
      </div>
    }
  } @else {
    <app-loader />
  }
</div>
