@switch (currentStep) {
@case(0) {
<p>Set the number of strings.</p>
}
@case(1) {
<p>Select the lowest string.<br>This string will be identified with your tuning's root note.</p>
}
@case(2) {
<p>Click the string notes to set the respective intervals.</p>
}
@case(3) {
<p appSearchCurrent="fretboard"
    (indexFound)="router.navigate([{ outlets: { 'dialog': ['d', 'modes', $event.primary, $event.secondary] } }]);">
    Set rules for adding more strings.
</p>
}
@case(4) {
<p>
    Your
    <a (click)="router.navigate([{ outlets: { 'dialog': ['d', 'name'] } }])">
        <i>{{currFretboard.fretboard.tuning.name}}</i>
    </a>
    tuning is ready.
    <br>
    The selected root note, {{currFretboard.fretboard.root.print()}}, will be used as the default root.
</p>
}
}