@import "../../../styles.scss";

$y-inner: 26px;
$y-outer: 56px;
$y-outside: 88px;
$scl-inner: 0.9;
$scl-outer: 0.8;
$scl-outside: 0.7;
$opac-inner: 0.8;
$opac-outer: 0.6;
$opac-outside: 0.3;

:host {
  @extend .prevent-select;
  width: 100%;
  @include flex($dir: column);

  .submenu-wrapper {
    width: 100%;
    height: 40px;
    opacity: 0;
    transition: 750ms ease-out;
    transition-delay: 250ms;

    app-scrollable-list-submenu {
      position: relative;
      z-index: 10;
    }

    .submenu-bg {
      position: relative;
      z-index: 1;
      height: 32px;
      top: -26px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 5px;
      background: $color-panel-bg;
      box-shadow: $shadow-menu;
    }
  }

  &:hover .submenu-wrapper,
  .submenu-wrapper.searching {
    opacity: 1;
    transition: 50ms;
    transition-delay: 0;
  }
}

.list-wrapper {
  width: 100%;
  height: 144px;
  @include flex($dir: column, $g: 3px);
  position: relative;
  transition: height $transition-menu-collapse;

  &.collapsed {
    @media screen and (max-height: $vh-breakpoint-2) {
      height: 61px;
    }
  }

  .list-container {
    position: relative;
    width: 100%;
    height: 130px;
    overflow: hidden;
    border: 1px solid $color-text-primary;
    @include flex($dir: column);
    background: linear-gradient(to bottom, #b6a496 -6%, #7D6F63 26%, #7D6F63 76%, #554b43 100%);
  }

  &.list-disabled .list-container {
    pointer-events: none;
    background: $color-text-muted;

    .empty-field {
      font-size: 24px;
      color: white;
    }
  }

  app-scrollable-list-arrow {
    opacity: 0;
    transition: 200ms ease-in;
    transition-delay: 100ms;
  }

  &:hover:not(.list-disabled) app-scrollable-list-arrow {
    opacity: 1;
    transition: 50ms;
    transition-delay: 0;
    cursor: pointer;
  }
}

app-scrollable-list-item {
  position: absolute;

  &.scroll {
    transition: 300ms ease-out;
  }

  &.over {
    opacity: $opac-outside;
    transform: scale($scl-outside) translateY(-$y-outside);
  }

  &.top {
    opacity: $opac-outer;
    transform: scale($scl-outer) translateY(-$y-outer);
  }

  &.up {
    opacity: $opac-inner;
    transform: scale($scl-inner) translateY(-$y-inner);
  }

  &.center {
    opacity: 1;
    transform: scale(1) translateY(0);
  }

  &.down {
    opacity: $opac-inner;
    transform: scale($scl-inner) translateY($y-inner);
  }

  &.bottom {
    opacity: $opac-outer;
    transform: scale($scl-outer) translateY($y-outer);
  }

  &.under {
    opacity: $opac-outside;
    transform: scale($scl-outside) translateY($y-outside);
  }

  &.over-out {
    @extend .over;
  }

  &.under-out {
    @extend .under;
  }
}