<div class="expand-btn-wrapper">
    <div class="expand-btn-container">
        <button (click)="display.menuCollapsed = !display.menuCollapsed">
            @if(display.menuCollapsed) {
            <i class="material-icons">keyboard_double_arrow_down</i>
            } @else {
            <i class="material-icons">keyboard_double_arrow_up</i>
            }
        </button>
    </div>
</div>
<section>
    <h4 [class.collapsed]="display.menuCollapsed">
        Scale
        <button class="material-icons edit-btn">edit</button>
    </h4>
    <div class="scrollable-lists-container">
        <app-scrollable-list class="narrower" *ngIf="extendedNaturalNoteNames" [content]="extendedNaturalNoteNames"
            [title]="'Root'" [current]="currScale.scale.root.print()" (currentChange)="updateCurrScaleRootNote($event)"
            [allowSearch]="false" />
        <app-scrollable-list *ngIf="scalesData.categoryNames" [content]="scalesData.categoryNames" [title]="'Category'"
            [(current)]="currScale.categoryName" (currentChange)="currScale.checkCurrentMode()" />
        <app-scrollable-list class="narrow" *ngIf="currScale.categoryModeNames" [content]="currScale.categoryModeNames"
            [(current)]="currScale.modeName" [allowSearch]="currScale.categoryModeNames.length > 0" 
            [allowReset]="currScale.categoryModeNames.length > 0" [title]="'Mode'" />
    </div>
</section>
<section>
    <h4 [class.collapsed]="display.menuCollapsed">
        Fretboard
        <button class="material-icons edit-btn">edit</button>
    </h4>
    <div class="scrollable-lists-container">
        <app-scrollable-list class="narrow" *ngIf="tuningsData.instrumentNames" [content]="tuningsData.instrumentNames"
            [title]="'Instrument'" [(current)]="currFretboard.instrumentName" />
        <app-scrollable-list *ngIf="currFretboard.instrumentTuningNames" [content]="currFretboard.instrumentTuningNames"
            [(current)]="currFretboard.tuningName" [title]="'Tuning'" />
        <app-scrollable-list class="tiny" *ngIf="currScale.matchedNoteNames" [content]="currScale.matchedNoteNames"
            [title]="'Root'" [current]="currFretboard.fretboard.root.print()"
            (currentChange)="updateCurrFretboardRootNote($event)" [allowSearch]="false"
            [defaultIndex]="currFretboard.fretboard.tuning.defaultRoot.index"
            [autofocus]="currFretboard.fretboard.root.index" />
        <app-scrollable-list class="tiny" *ngIf="currFretboard.numbersOfStrings"
            [content]="currFretboard.numbersOfStrings" [title]="'#str.'"
            [(current)]="currFretboard.fretboard.numberOfStrings" [allowSearch]="false" />
    </div>
</section>
<section>
    <h4 [class.collapsed]="display.menuCollapsed">Display</h4>
    <app-settings-display />
</section>
<section>
    <h4 [class.collapsed]="display.menuCollapsed">File</h4>
    <app-file-menu />
</section>