@import "../../../../styles.scss";

:host {
  width: 200%;
  .item-wrapper {
    width: 100%;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 20px;
    .default-item {
      color: lightgreen;
    }
    &:hover {
      background: black;
      @media screen and (max-height: $vh-breakpoint-2) {
        &.menu-collapsed {
          background: none;
        }
      }
    }
    &:active {
      color: red;
      opacity: 1;
    }
  }
}

span {
  white-space: nowrap;
}
