@import "../../../../styles.scss";

:host {
  width: 200%;
  position: relative;
  .item-wrapper {
    width: 100%;
    text-align: center;
    @include flex();
    color: white;
    cursor: pointer;
    font-size: 20px;
    .item-container {
      height: 24px;
      @include flex();
    }
    .default-item {
      color: $color-info;
    }
    &:hover {
      background: $color-text-primary;
      @media screen and (max-height: $vh-breakpoint-2) {
        &.menu-collapsed {
          background: none;
        }
      }
    }
    &:active {
      color: $color-text-muted;
      opacity: 1;
    }
  }
}

span {
  max-width: 100%;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  &.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}