<div [hidden]="content.toString().length > 0" class="item-wrapper" [class.menu-collapsed]="display.menuCollapsed">
    <div class="item-container"
    [style.max-width]="textEllipsis ? 'calc(' + 50 / scaleDownLimit + '%)' : 'auto'"
    [matTooltip]="tooltipContent" [matTooltipShowDelay]="200" [matTooltipPosition]="'right'">
        <span #contentElement
            [class.default-item]="default === content"
            [style.transform]="'scale(' + (scaleDown ?? 1) + ')'"
            [class.ellipsis]="textEllipsis">
            {{content}}
        </span>
    </div>
</div>