@import '../../styles.scss';

:host {
    width: 100%;
    flex: 1;
    @include flex($dir: column, $ai: flex-start, $jc: space-between);
}

.input-name {
    margin-top: 20px;
}

.btns-container {
    width: 100%;
    @include flex($jc: flex-end, $g: 8px);
}