@import "../../styles.scss";

$scrollable-list-width-narrower: 72px;

:host {
    width: 100%;
    height: 100%;
    background: $color-panel-bg;
    padding: $menu-y-padding $menu-x-padding;
    @include flex($g: 24px);
}

.expand-btn-wrapper {
    display: none;
    width: 64px;
    height: 100%;

    .expand-btn-container {
        margin-bottom: -$menu-y-padding;
        width: 44px;
        height: 44px;

        button {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: white;
            @include flex();
            margin: 0;
            position: relative;
            bottom: -50%;
            transition: 50ms;
            &:hover {
                transition: 50ms;
                box-shadow: 1px 2px 2px 4px #0002;
            }
            &:active {
                transition: 50ms;
                box-shadow: 1px 2px 2px 4px #0003;
            }
        }
    }

    @media screen and (max-height: $vh-breakpoint-2) {
        @include flex($ai: flex-end);
    }
}

section {
    height: 100%;
    @include flex($dir: column, $jc: flex-start, $g: 6px);

    h4 {
        width: 100%;
        height: calc($circular-btn-size + 6px);
        margin: 0;
        padding-bottom: 6px;
        @include flex($g: 6px);
        color: $color-text-primary;
        border-bottom: 1px solid $color-text-primary;
        transition: $transition-menu-collapse;

        &.collapsed {
            @media screen and (max-height: $vh-breakpoint-2) {
                height: $circular-btn-size;
                padding-bottom: 0;
                border-bottom: none;   
            }
        }
    }

    .scrollable-lists-container {
        @include flex($g: 10px);
    }

    app-scrollable-list, .custom-content {
        width: 148px;

        &.narrow {
            width: 96px;
        }

        &.narrower {
            width: $scrollable-list-width-narrower;
        }

        &.tiny {
            width: 40px;
        }
    }
}

.side-arrow-btn-container {
    width: 32px;
    height: 32px;
}

@media screen and (max-width: $vw-breakpoint-1) {
    section.secondary-submenu {
        display: none;
    }   
}