@import "../../../styles.scss";

.item {
    @include flex();
    padding: 2px;
    cursor: pointer;
    transition: 75ms ease;
    &:hover {
        background: white;
        transition: 225ms ease;
    }
    .name, .input-name {
        flex: 1;
        max-width: 240px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .second-column {
        width: $open-item-secondary-width;
        @include flex($jc: space-between, $g: 40px);
        .date {
            width: 100px;
            color: $color-text-muted;
            text-align: end;
        }
        .options {
            @include flex($g: 3px);
        }
    }
}
