<div (mousedown)="onItemClick()" class="item">
    @if(editing) {
    <input class="input-name" type="text" [(ngModel)]="name" #nameInput (mousedown)="$event.stopPropagation()"
        (blur)="onInputBlur()" />
    } @else {
    <span class="name">{{name}}</span>
    }
    <div class="second-column">
        <span class="date">{{date}}</span>
        <div class="options">
            @if(editing) {
            <button class="material-icons-outlined icon-btn" [matTooltip]="'Complete'" [matTooltipPosition]="'left'">check</button>
            } @else {
            <button class="material-icons-outlined icon-btn" (mousedown)="$event.stopPropagation()"
                [matTooltip]="'Edit name'" [matTooltipPosition]="'left'" (click)="edit()">edit</button>
            }
            <button class="material-icons-outlined icon-btn" (mousedown)="$event.stopPropagation()"
                [matTooltip]="'Delete'" [matTooltipPosition]="'right'" (click)="delete.emit()">delete</button>
        </div>
    </div>
</div>