<div class="submenu-outer-wrapper" [class.searching]="searchFilter || searchFilter === ''">
    <div #innerWrapper class="submenu-inner-wrapper">
        <div class="submenu-container">
            @if(allowSearch) {
            <button class="material-icons-outlined icon-btn" (click)="initSearch()">search</button>
            }
            <span class="title" *ngIf="title">{{title}}</span>
            @if(allowReset) {
            <button class="material-icons-outlined reset-btn" (click)="refocus.emit()">autorenew</button>
            }
            <div class="searchbar">
                <button class="material-icons-outlined icon-btn search-off-btn"
                    (click)="$event.stopPropagation(); clearSearch()">
                    search_off
                </button>
                <input type="text" [(ngModel)]="searchFilter" #searchInput (keyup)="emitSearch()" />
            </div>
        </div>
    </div>
</div>