@import '../styles.scss';

app-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    padding-right: 16px;
    padding-bottom: 10px;
    @media screen and (max-height: $vh-breakpoint-1) {
        display: none;
    }
}