@import "../../../styles.scss";

$width: 52px;
$height: 32px;
$knob-margin: 4px;
$button-bg-transition: 50ms ease;
$knob-transition: 175ms;

:host {
    display: block;
    width: $width;
    height: $height;
}

button {
    width: 100%;
    height: 100%;
    border: 1px solid $color-text-primary;
    border-radius: calc($height / 2);
    background: #f1ddc6;
    @include flex();
    transition: $button-bg-transition;
    .knob {
        width: calc($height - 2 * $knob-margin);
        height: calc($height - 2 * $knob-margin);
        border-radius: 50%;
        @include flex();
        background: white;
        border: 1px solid lightgrey;
        transform: translateX($knob-margin - $width * 0.25);
        opacity: 1;
        transition: $knob-transition;
        .tiny-led {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $color-info;
        }
        &.toggle-on {
            transform: translateX($width * 0.25 - $knob-margin);
            transition: $knob-transition;
        }
        &.mode-check {
            .tiny-led {
                background: #98cf2b;
                transition: $knob-transition;
            }
            &:not(.toggle-on) {
                .tiny-led {
                    background: #d13535;
                    transition: $knob-transition;
                }
            }
        }
    }
    &:hover {
        background-color: #f7d7b3;
        transition: $button-bg-transition;
    }
}
