@import "../../styles.scss";

:host {
    width: 100%;
    height: 100%;
    @include flex($dir: column);
    overflow: hidden;
    .app-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        background-image: linear-gradient(rgba(245, 232, 216, 0.75), rgba(235, 211, 181, 0.75)),
            url("../../assets/img/wood.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(1px);
    }
}

.menu-wrapper {
    width: 100vw;
    height: var(--expanded-menu-height);
    position: relative;
    z-index: 10;

    .menu-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        transition: height 200ms ease-out;
        box-shadow: $shadow-menu;
    }

    @media screen and (max-height: $vh-breakpoint-2) {
        height: var(--collapsed-menu-height);

        .menu-container:not(.collapsed) {
            height: var(--expanded-menu-height);
        }
    }
}

.fretboard-container {
    flex: 1;
    width: 100vw;
    max-width: 1280px;
    @include flex();
    overflow-y: auto;

    @media screen and (max-height: $vh-breakpoint-1) {
        max-width: unset;
    }

    app-fretboard {
        box-shadow: 1px 3px 8px 1px #0005;
    }
}

.logo-container {
    position: fixed;
    z-index: 10;
    top: var(--expanded-menu-height);
    bottom: calc((100dvh - var(--expanded-menu-height) + var(--fretboard-height)) / 2);
    @include flex();
    app-logo {
        transform: scale(0.64);
        @media screen and (max-height: 920px) {
            transform: scale(0.44);                
        }
    }
    @media screen and (max-height: $vh-breakpoint-1) {
        top: 10px;
        bottom: calc(100dvh - var(--expanded-menu-height));
        left: 40px;
        width: auto;
        app-logo {
            transform: scale(0.64);
        }
    }
    @media screen and (max-height: $vh-breakpoint-2) {
        transition: 200ms ease-out;
        &.collapsed {
            bottom: calc(100dvh - var(--collapsed-menu-height));
        }       
    }
}

.rotate-device-overlay {
    position: fixed;
    inset: 0;
    z-index: 200;
    background: white;
    @include flex($dir: column, $g: 24px);

    .material-icons {
        font-size: 96px;
    }

    @media screen and (orientation: landscape) {
        display: none;
    }
}
