<div class="menu-wrapper">
    <div class="menu-container" [class.collapsed]="display.menuCollapsed">
        <app-menu />
    </div>
</div>
<div class="fretboard-container">
    <app-fretboard />
</div>
<div class="rotate-device-overlay">
    <i class="material-icons">screen_rotation</i>
    <span>Please turn your device horizontally.</span>
</div>
<div class="dialog-overlay" *ngIf="router.url.includes('dialog')" [routerLink]="''">
    <div class="dialog-wrapper" (click)="$event.stopPropagation()">
        <app-circular-button [icon]="'close'" [routerLink]="''" />
        <div class="dialog-container">
            <router-outlet />
        </div>
    </div>
</div>