<div class="menu-wrapper">
    <div class="menu-container" [class.collapsed]="display.menuCollapsed" [ngSwitch]="custom.customizing">
        <app-menu *ngSwitchCase="undefined" />
        <app-menu-edit-scale *ngSwitchCase="'scale'" />
        <app-menu-edit-fretboard *ngSwitchCase="'fretboard'" />
    </div>
</div>
<div class="fretboard-container">
    <app-fretboard />
</div>
<div class="rotate-device-overlay">
    <i class="material-icons">screen_rotation</i>
    <span>Please turn your device horizontally.</span>
</div>
<app-dialog-overlay [show]="router.url.includes('dialog')" (close)="router.navigateByUrl('')" />
<app-toast-message *ngIf="toastMsg.message" [message]="toastMsg.message" />