<div class="app-bg"></div>
<div class="menu-wrapper" (mouseenter)="hover.setMenuWrapperHovered(true)"
    (mouseleave)="hover.setMenuWrapperHovered(false)">
    <div class="menu-container" [class.collapsed]="display.menuCollapsed">
        <div class="menu-content">
            <div class="expand-btn-wrapper">
                <app-expand-btn />
            </div>
            <router-outlet />
        </div>
        <app-logo [short]="true" />
        <app-footer [class.top-right]="router.url.includes('edit')" />
    </div>
</div>
<div class="fretboard-container">
    <div class="fretboard-content">
        <app-fretboard />
    </div>
    <app-logo [dark]="true" />
</div>
<div class="rotate-device-overlay">
    <i class="material-icons-outlined">screen_rotation</i>
    <span>Please turn your device horizontally.</span>
</div>
<app-toast-message *ngIf="toastMsg.message" [message]="toastMsg.message" />