@import "../../styles.scss";

:host {
    width: 100%;
    height: 100%;
    @include flex($dir: column);
    overflow: hidden;
}

.menu-wrapper {
    width: 100vw;
    height: var(--expanded-menu-height);
    position: relative;
    z-index: 10;

    .menu-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        transition: height 200ms ease-out;
    }

    @media screen and (max-height: $vh-breakpoint-2) {
        height: var(--collapsed-menu-height);

        .menu-container:not(.collapsed) {
            height: var(--expanded-menu-height);
        }
    }
}

.fretboard-container {
    flex: 1;
    width: 100vw;
    max-width: 1280px;
    @include flex();

    @media screen and (max-height: $vh-breakpoint-1) {
        max-width: unset;
    }
}

.rotate-device-overlay {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: white;
    @include flex($dir: column, $g: 24px);

    .material-icons {
        font-size: 96px;
    }

    @media screen and (orientation: landscape) {
        display: none;
    }
}

.dialog-overlay {
    position: fixed;
    z-index: 20;
    inset: 0;
    background: #0003;
    @include flex();
    animation: fade-in 150ms ease;
    .dialog-wrapper {
        width: 800px;
        height: 480px;
        max-width: 80vw;
        max-height: 80dvh;
        background: white;
        border-radius: 16px;
        padding: 16px;
        @include flex($dir: column, $ai: flex-end, $g: 6px);
        .dialog-container {
            width: 100%;
            flex: 1;
        }
    }
}