<h2>Export as {{fileTypeToString}}</h2>
<div class="export-wrapper" [ngClass]="fileType">
    <div *ngIf="fileType" [ngSwitch]="fileType" [appExportTo]="fileType" [export]="data" (urlReady)="downloadUrl = $event">
        <app-fretboard *ngSwitchCase="'img'" [isExport]="true" />
        <app-fretboard-as-text *ngSwitchCase="'txt'" (onFretboardInit)="data = $event" />
    </div>
    <div *ngIf="!downloadUrl" class="overlay exporting">
        <app-loader /> 
        <span>Exporting...</span>
    </div>
    <img class="overlay export-img-result" *ngIf="downloadUrl && fileType == 'img'" [src]="downloadUrl" alt="Export preview" />
</div>
<app-export-options *ngIf="fileTypeToString" [fileName]="fileName" [fileUrl]="downloadUrl" (copied)="toastMsg.message = copyMsg" />