@import "../../../styles.scss";

:host {
    width: 100%;
    .export-wrapper {
        position: relative;
        .overlay {
            position: absolute;
            z-index: 10;
            inset: 0;
            overflow: hidden;
            &.exporting {
                @include flex($g: 12px);
                background: #fffb;
                backdrop-filter: blur(1.5px);
            }
            &.export-img-result {
                object-fit: cover;
            }
        }
    }
    app-export-options {
        width: 100%;
    }
}
