@import "../../../styles.scss";

:host {
    width: 100%;
    @include flex($dir: column, $ai: flex-start, $g: 16px);
    .export-wrapper {
        position: relative;
        &.img {
            width: calc($dialog-max-width - 2 * $dialog-padding);
            overflow: visible;
        }
        .overlay {
            position: absolute;
            z-index: 10;
            inset: 0;
            overflow: hidden;
            &.exporting {
                @include flex($g: 12px);
                background: #fffb;
                backdrop-filter: blur(1.5px);
            }
            &.export-img-result {
                object-fit: cover;
            }
        }
    }
    app-export-options {
        width: 100%;
    }
}