@import "../../../styles.scss";

ul {
  list-style: none;
  width: fit-content;
  border: 1px solid #000000;
  @include flex($dir: column);
  height: 130px;
  overflow: hidden;
  li {
    text-align: center;
    color: white;
    cursor: pointer;
    &:hover {
      filter: brightness(0.5);
    }
    &:active {
      color: red;
      opacity: 1;
    }
  }
}
