<div class="list-wrapper" [class.list-empty]="filteredContent.length === 0" appHover
    (hoverKeyDown)="onHoverKeyDown($event)">
    <app-scrollable-list-arrow [orientation]="'up'" (click)="onListArrowClick(-1, 200)" />
    <div class="list-container">
        @if(filteredContent.length > 0) {
        @for (pos of positions; track pos; let i = $index; let f = $first; let l = $last) {
        <app-scrollable-list-item #contentRef
            [ngClass]="f || l || (i == 1 && scrollSteps == 2) || (i == positions.length - 2 && scrollSteps == -2) ? positions[i] : positions[i - scrollSteps]"
            [class.scroll]="scrollSteps !== 0" [default]="content[defaultIndex]" (mousedown)="onListItemClick(i)"
            [content]="getContentItem(i)" />
        }
        } @else {
        <span class="empty-field">&ndash;</span>
        }
    </div>
    <app-scrollable-list-arrow [orientation]="'down'" (click)="onListArrowClick(1, 200)" />
</div>
<div class="submenu-wrapper" [class.searching]="searchFilter || searchFilter === ''">
    <app-scrollable-list-submenu [(searchFilter)]="searchFilter"
        (refocus)="refocusByIndex(defaultIndex)" [title]="title" [allowSearch]="allowSearch"
        (searchFilterChange)="onSearchChange()" (bgWidth)="initSubmenuBg($event)" />
    <div *ngIf="submenuBgWidth" class="submenu-bg" [style.width.px]="submenuBgWidth"></div>
</div>