@import "../../../styles.scss";

$y-inner: 30px;
$y-outer: 64px;
$y-outside: 100px;
$scl-inner: 0.9;
$scl-outer: 0.8;
$scl-outside: 0.7;
$opac-inner: 0.8;
$opac-outer: 0.6;
$opac-outside: 0.3;

:host {
  @extend .prevent-select;
  .title-submenu-wrapper {
    width: 100%;
    @include flex();
    .title-submenu-container {
      width: calc(100% - 6px);
      height: 24px;
      margin-top: 6px;
      @include flex();
      padding-top: 4px;
      border-top: 1px solid grey;
      opacity: 0;
      transition: 750ms ease-out;
      transition-delay: 250ms;
      & * {
        color: grey;
      }
    }
  }
  &:hover .title-submenu-wrapper .title-submenu-container {
    opacity: 1;
    transition: 50ms;
    transition-delay: 0;
  }
}

.list-wrapper {
  @include flex($dir: column, $g: 3px);
  height: 160px;
  position: relative;
  .list-container {
    position: relative;
    overflow: hidden;
    border: 1px solid #000000;
    @include flex($dir: column);
    width: 100%;
    height: 130px;
    background: steelblue;
  }
  &.list-empty .list-container {
    background: lightgrey;
    .empty-field {
      font-size: 24px;
      color: white;
    }
  }
  app-scrollable-list-arrow {
    opacity: 0;
    transition: 200ms ease-in;
    transition-delay: 100ms;
  }
  &:hover:not(.list-empty) app-scrollable-list-arrow {
    opacity: 1;
    transition: 50ms;
    transition-delay: 0;
    cursor: pointer;
  }
}

app-scrollable-list-item {
  position: absolute;
  transition: none;
  &.scroll {
    transition: 300ms ease-out;
  }
  &.over {
    opacity: $opac-outside;
    transform: scale($scl-outside) translateY(-$y-outside);
  }
  &.top {
    opacity: $opac-outer;
    transform: scale($scl-outer) translateY(-$y-outer);
  }
  &.up {
    opacity: $opac-inner;
    transform: scale($scl-inner) translateY(-$y-inner);
  }
  &.center {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  &.down {
    opacity: $opac-inner;
    transform: scale($scl-inner) translateY($y-inner);
  }
  &.bottom {
    opacity: $opac-outer;
    transform: scale($scl-outer) translateY($y-outer);
  }
  &.under {
    opacity: $opac-outside;
    transform: scale($scl-outside) translateY($y-outside);
  }
  &.over-out {
    @extend .over;
  }
  &.under-out {
    @extend .under;
  }
}