<div class="slide-toggle-container">
    <app-slide-toggle [(toggleOn)]="custom.allowAddingStrings" />
    <p>Allow adding extra strings.</p>
</div>
<div class="scrollable-lists-container">
    <div class="scrollable-list-container">
        <p>Maximum number of extra strings.</p>
        <app-scrollable-list *ngIf="maxNumberOfExtraStringsLimit > 0" [content]="[0].concat(getIncrArray(maxNumberOfExtraStringsLimit))"
            [title]="'Number'" [(current)]="custom.maxNumberOfExtraStrings" [allowSearch]="false" [disabled]="!custom.allowAddingStrings" />
    </div>
    <div class="scrollable-list-container">
        <p>Semitones difference for extra strings.</p>
        <app-scrollable-list [content]="semitones" [defaultIndex]="16" [allowSearch]="false" [disabled]="!custom.allowAddingStrings"
            [title]="'Difference'" [(current)]="currFretboard.fretboard.tuning.extraStrings.interval" />
    </div>
    <div class="scrollable-list-container">
        <p>Semitones correction for previous string.</p>
        <app-scrollable-list [content]="semitones" [defaultIndex]="11" [allowSearch]="false" [disabled]="!custom.allowAddingStrings"
            [title]="'Correction'" [(current)]="custom.previousStringCorrectionInterface" />
    </div>
</div>