@import '../../styles.scss';

.dialog-overlay {
    position: fixed;
    z-index: 20;
    inset: 0;
    background: #0003;
    @include flex();
    animation: fade-in 150ms ease;

    .dialog-wrapper {
        position: relative;
        width: 800px;
        height: 480px;
        max-width: 80vw;
        max-height: 80dvh;
        background: white;
        border-radius: 16px;
        padding: 16px;

        app-circular-button {
            position: absolute;
            top: 16px;
            right: 16px;
        }

        .dialog-container {
            width: 100%;
            height: 100%;
        }
    }
}