@import './assets/css/roboto.scss';

@mixin flex($jc: center, $ai: center, $g: 0, $dir: row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
    flex-direction: $dir;
}

body {
    width: 100vw;
    height: 100vh;
    background: whitesmoke;
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}