@import "./assets/css/roboto.scss";
@import "material-icons/iconfont/material-icons.css";

$vh-breakpoint-1: 800px;
$vh-breakpoint-2: 640px;
$vh-breaktpoint-3: 520px;

@mixin flex($jc: center, $ai: center, $g: 0, $dir: row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
    flex-direction: $dir;
}

:root {
    --collapsed-menu-height: 120px;
    --expanded-menu-height: 240px;
    @media screen and (max-height: $vh-breakpoint-1) {
        --expanded-menu-height: 206px;
    }
}

body {
    width: 100vw;
    height: 100vh;
    background: whitesmoke;
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button.icon-btn {
    transition: 75ms ease;
    &:hover {
        transition: 75ms ease;
        text-shadow: 1px 2px 1px #0002;
    }
    &:active {
        transition: 75ms ease;
        transform: scale(0.84);
    }
}

button.reset-btn {
    transition: all 75ms, transform 0;
    transform: rotate(0) scale(1);
    &:hover {
        transition: 250ms ease;
        transform: rotate(180deg) scale(1);
        text-shadow: 1px -2px 1px #0002;
    }
    &:active {
        transition: 75ms ease;
        transform: rotate(180deg) scale(0.84);
    }
}