@import "../../styles.scss";
@import "../../assets/css/menu.scss";

section {
    width: 70vw;
    max-width: 640px;
}

.edit-menu-container {
    position: relative;
    width: 100%;
    flex-shrink: 1;
    min-height: 0;
    @include flex($ai: flex-start, $g: 10px);
    .menu-content-wrapper {
        flex: 1;
        height: 100%;
        @include flex();
        padding: 0 12px;
        .menu-content {
            width: 100%;
            height: auto;
            @include flex();
            padding: 16px 0;
            background: $color-subtle-bg;
            border-radius: 8px;
        }
    }
    .side-arrow-btns-container {
        position: absolute;
        inset: 0;
        pointer-events: none;
        @include flex($jc: space-between);
        $translate-btn: 150%;
        .side-arrow-btn-container {
            pointer-events: auto;
            &:nth-child(1) {
                transform: translateX(-$translate-btn);
            }
            &:nth-child(2) {
                transform: translateX($translate-btn);
            }
        }
    }
}

@media screen and (max-height: $vh-breakpoint-2) {
    :host {
        padding: 11px 6px;
    }

    .edit-menu-container .menu-content-wrapper .menu-content {
        padding: 6px 0;
        max-height: 50px;
        overflow-y: auto;
    }                
}