<div class="side-arrow-btn-container">
    <app-circular-button *ngIf="currentStep > 0" [icon]="'arrow_left'"
        (click)="navigateStepByRouter(currentStep - 1)" />
</div>
<section>
    <div class="menu-wrapper">
        <div *ngIf="custom.mode === 'scale'" class="edit-menu-scrollable-list-wrapper">
            <app-scrollable-list class="narrower" [content]="scalesData.extendedNaturalNoteNames" [allowSearch]="false"
                [title]="'Root'" [current]="currScale.scale.root.printNaturalWithFlatAlternative()"
                (currentChange)="currScale.updateCurrScaleRootNote($event)" />
        </div>
        <div class="menu-container">
            <h4 [class.collapsed]="display.menuCollapsed">
                Customize {{custom.mode}}
                <app-circular-button [icon]="'cancel'" (click)="undoAll()" [routerLink]="''" />
            </h4>
            <div class="menu-content">
                <router-outlet />
            </div>
        </div>
    </div>
    <app-pagination-dots [total]="custom.totalSteps" [activeIndex]="currentStep"
        (dotClick)="navigateStepByRouter($event)" />
</section>
<div class="side-arrow-btn-container">
    @if(currentStep < custom.totalSteps - 1) {
        <app-circular-button [icon]="'arrow_right'" (click)="navigateStepByRouter(currentStep + 1)" />
    } @else if (currentStep === custom.totalSteps - 1) {
        <app-circular-button [icon]="'check'" (click)="complete()" />
    }
</div>