<div class="overlay" [class.lefty]="display.lefty">
    <div class="overlay-half-transparent" [ngSwitch]="custom.currentStep">
        <div class="layout-container" *ngSwitchCase="0">
            <h4>Number of strings</h4>
            <div class="list-container">
                <app-scrollable-list *ngIf="currFretboard.numbersOfStrings" [preventCollapse]="true"
                    [content]="currFretboard.numbersOfStrings" [title]="'#str.'"
                    [(current)]="currFretboard.fretboard.numberOfStrings" [allowSearch]="false" />
            </div>
        </div>
        <div #listContainer class="layout-container" *ngSwitchCase="2">
            <h4>Set notes</h4>
            <div class="list-container">
                <app-scrollable-list [preventCollapse]="true"
                    *ngIf="custom.currentStringSelection !== undefined && scalesData.extendedNaturalNoteNames"
                    [content]="scalesData.extendedNaturalNoteNames" [title]="'Note'"
                    (currentChange)="onCurrentStringSelectionChange($event)" [defaultIndex]="listDefaultIndex"
                    [current]="currFretboard.fretboard.naturalNotes[custom.currentStringSelection].printNaturalWithFlatAlternative()"
                    [allowSearch]="false" />
            </div>
        </div>
        <div class="layout-container" *ngSwitchCase="3">
            <app-dialog-add-strings-rules />
        </div>
    </div>
</div>
<app-dynamic-line *ngIf="selectedStringNote && listContainerRef && custom.currentStep === 2"
    [leftEl]="display.lefty ? listContainerRef.nativeElement : selectedStringNote"
    [rightEl]="display.lefty ? selectedStringNote : listContainerRef.nativeElement" />