@if(category && category.name) {
<p>The scale you configured is identical to the</p>
@if(category.modes && modeIndex > 0) {
<p><b>{{category.modes[modeIndex].name}} mode</b></p>
<p>of the</p>
}
<p><b>{{category.name}} scale</b>.</p>
<p>How do you want to proceed?</p>
<div class="btns-container">
    <button class="border-btn">Abort customization and navigate to {{category.name}} scale instead.</button>
    <button class="border-btn">Continue by loading modes of the {{category.name}} scale.</button>
    <button class="border-btn">Set modes from scratch.</button>
</div>
}