@import '../../styles.scss';

:host {
    position: fixed;
    inset: 0;
    z-index: 20;
    background: white;
    @include flex();
    animation: fade-in 800ms ease-in-out reverse forwards 2400ms;
}

.text-container {
    position: relative;
    @include flex($ai: flex-start);
    span {
        font-family: 'Nova Script';
        font-size: 80px;
        animation: fade-in 500ms ease-in-out;
        &.s-letter {
            position: relative;
            top: -4px;
            font-size: 104px;
        }
    }
    .circle-mask-container {
        position: absolute;
        left: 38px;
        top: 50px;
        width: 32px;
        height: 32px;
        @include flex();
        .circle-mask {
            width: 0%;
            height: 0%;
            border-radius: 50%;
            background: white;
            opacity: 0;
            animation: to-full 450ms ease-out forwards 500ms, fade-in 300ms ease-out forwards 450ms;
        }
    }
    .treble-clef {
        position: absolute;
        width: 58px;
        top: -36px;
        left: -40px;
        opacity: 0;
        animation: fade-in 1400ms ease-in forwards 150ms, treble-clef-animation 1000ms ease-out forwards 150ms;
    }
}

@keyframes to-full {
    to {
        width: 100%;
        height: 100%;
    }
}

@keyframes treble-clef-animation {
    to {
        left: 10px;
    }
}