<section>
    <button class="ordering-btn" (click)="onOrderingBtnClick('name')" [class.active]="ordering.orderingBy === 'name'">
        <i class="material-icons" [class.arrow-up]="ordering.orderingBy === 'name' && ordering.order === 'asc'">
            arrow_drop_down
        </i>
        <span data-text="Name">Name</span>
    </button>
</section>
<section>
    <button class="ordering-btn" (click)="onOrderingBtnClick('createdAt')"
        [class.active]="ordering.orderingBy === 'createdAt'">
        <i class="material-icons" [class.arrow-up]="ordering.orderingBy === 'createdAt' && ordering.order === 'asc'">
            arrow_drop_down
        </i>
        <span data-text="Created at">Created at</span>
    </button>
</section>