@import '../../../styles.scss';

:host {
    max-width: 480px;
    flex: 1;
    @include flex($dir: column, $jc: space-around);
}

.btns-container {
    width: 100%;
    @include flex($jc: flex-end);
}