@import '.././../../styles.scss';

:host {
    flex: 1;
    @include flex($dir: column, $g: 6px);

    button {
        width: 128px;
        padding: 6px;
        @include flex($jc: flex-start, $g: 6px);

        i.material-icons-outlined {
            width: 24px;
            height: 24px;
        }
    }
}